body{
    font-family: 'Courier New', Monospace!important;
    line-height: 1.2;
    font-size: 18px!important;
}
p{
    font-size: 18px!important;
}
a{
    font-size: 22px;
    font-weight: 700;
}
.search-block-form .input-group {
    width: 235px;
}
.contacto-oficina {
    height: 550px;
}
.footer .nav > li > a {
    font-size: 18px!important;
}
#views-bootstrap-billetes-y-abonos-block-1 h3 {
    padding: 20px;
}
.contacto-oficina .telefonos p {
    line-height: 0.9em;
}
@media only screen and (max-width: 516px) {
    .contacto-oficina {
         height: 1100px;
     }
}